/* stylelint-disable no-unknown-animations */
/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: var(--background-image, #fff);
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--main-font-family), sans-serif;
  font-size: var(--main-font-size);
  font-variation-settings: 'wght' var(--text-font-weight);
  color: var(--themes-main-color, #000);
}

.button {
  border: 2px solid var(--themes-main-color, #000);
  background: var(--themes-background, #fff);
  font-family: var(--accent-font-family), fantasy;
  font-size: 14px;
  cursor: pointer;
  padding: 9px 17px;
}

.header {
  display: flex;
  margin: 104px auto;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  inline-size: clamp(23.188rem, 100%, 43.5rem);
  block-size: clamp(20.188rem, 100%, 22.75rem);
  padding: clamp(120px, ((100vw - 375px) / 100) * 2.5 + 120px, 136px) 0 25px;
  background-color: var(--themes-background, #fff);
  outline: 2px solid var(--themes-main-color, #000);
}

.header__logo {
  color: var(--themes-main-color, #000);
  font-family: var(--accent-font-family), fantasy;
  font-size: var(--logo-size);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.header__title {
  color: var(--themes-main-color, #000);
  font-family: var(--accent-font-family), fantasy;
  font-size: var(--title-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 5px;
  padding-left: 20px;
  gap: 14px;
}

.theme-menu__item {
  font-family: var(--accent-font-family), fantasy;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  color: var(--themes-main-color, #000);
}

.theme-menu__button {
  position: relative;
  padding: 0;
  border: none;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  left: -20px;
  color: var(--themes-main-color);
  opacity: 0.6;
  animation: arrow 0.5s ease-in-out infinite alternate;
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.theme-menu__button::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0.6;
  transform: scaleX(0);
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
  transform-origin: left;
  block-size: 2px;
  inline-size: 100%;
  background-color: var(--themes-main-color);
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.card__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  margin: auto;
  background: var(--themes-background, #fff);
  outline: 2px solid var(--themes-main-color, #000);
  inline-size: clamp(23.188rem, 100%, 43.5rem);
}

.card__title {
  font-size: 18px;
  font-style: normal;
  font-variation-settings: 'wght' var(--card-title-font-weight);
  line-height: normal;
  padding: 5px 11px;
}

.card__image {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}

/*Filters*/

.card__list-item:nth-child(1) .card__image {
  filter: grayscale(0.8);
  transition: filter 0.3s ease;
}

.card__list-item:nth-child(2) .card__image {
  filter: contrast(140%);
  transition: filter 0.3s ease;
}

.card__list-item:nth-child(3) .card__image {
  filter: blur(0.2rem);
  transition: filter 0.3s ease;
}

.card__list-item:nth-child(4) .card__image {
  filter: saturate(158%) brightness(110%);
  transition: filter 0.3s ease;
}

.card__list-item:nth-child(5) .card__image {
  filter: brightness(150%);
  transition: filter 0.3s ease;
}

.card__list-item:nth-child(6) .card__image {
  filter: opacity(0.5);
  transition: filter 0.3s ease;
}

.card__list-item:nth-child(7) .card__image {
  filter: sepia(80%);
  transition: filter 0.3s ease;
}

.card__list-item:nth-child(8) .card__image {
  filter: hue-rotate(-45deg);
  transition: filter 0.3s ease;
}

.card__list-item .card__image:hover {
  filter: none;
  transition: filter 0.3s ease;
}

.card__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
}

.card__button-list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  gap: 5px;
}

.card__icon-button {
  border: 2px solid transparent;
  fill: var(--themes-main-color);
  block-size: 39px;
  padding: 0;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--themes-main-color);
  transition: border 0.3s ease;
}

.card__like-button {
  position: relative;
  align-self: flex-end;
  display: flex;
  min-inline-size: 130px;
  min-block-size: 39px;
  justify-content: center;
}

.card__image_container {
  position: relative;
  block-size: max(371px, 696px);
  border-top: 2px solid var(--themes-main-color);
  border-bottom: 2px solid var(--themes-main-color);
}

.card__image_watermark {
  position: absolute;
  top: 25px;
  right: 25px;
  mix-blend-mode: hard-light;
  color: var(--themes-main-color);
  font-family: var(--accent-font-family), fantasy;
  opacity: 0.5;
  text-transform: uppercase;
  text-shadow:
    -1px 0 var(--watermark-shadow-color),
    0 1px var(--watermark-shadow-color),
    1px 0 var(--watermark-shadow-color),
    0 -1px var(--watermark-shadow-color);
  z-index: 1;
}

@supports (
  (text-stroke: 1px var(--watermark-shadow-color)) or
    (-webkit-text-stroke: 1px var(--watermark-shadow-color))
) {

  .card__image_watermark {
    -webkit-text-stroke: 1px var(--watermark-shadow-color);
    /* stylelint-disable-next-line property-no-unknown */
    text-stroke: 1px var(--watermark-shadow-color);
    text-shadow: none;
  }
}

.bottom-bar {
  display: flex;
  justify-content: center;
  margin: 50px auto 100px;
}

.bottom-bar__button {
  position: relative;
  display: grid;
  grid-template-columns: 21px auto;
  align-items: center;
  padding: 15px 20px;
  gap: 8px;
}

.floppy-icon {
  inline-size: 100%;
  block-size: 100%;
}

.button__effects::before {
  content: '';
  position: absolute;
  block-size: 100%;
  inline-size: 100%;
  top: 0;
  left: 0;
  transform: scaleX(0);
  background-color: var(--button-hover-color);
  mix-blend-mode: difference;
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.button__effects:hover::before {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.button__effects:focus-visible {
  box-shadow: 2px 2px 0 var(--themes-main-color, #000);
  outline: none;
  transition: outline 0.3s ease;
}

.dialog {
  padding: 30px;
  color: var(--themes-main-color, #000);
  background-color: var(--themes-background, #fff);
  border: 2px solid var(--themes-main-color, #000);
  position: fixed;
  inset: 0;
  transition: opacity 0.3s ease-in-out;
  max-inline-size: clamp(21.313rem, 80%, 22.313rem);
}

.dialog[open] {
  display: grid;
  grid-template-columns: 39px 1fr;
  grid-template-rows: 63px 1fr;
  row-gap: 30px;
  column-gap: 20px;
  justify-items: stretch;
  align-items: center;
}

.dialog__text {
  display: block;
  font-family: var(--accent-font-family), fantasy;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  text-transform: uppercase;
  inline-size: clamp(12.375rem, 100%, 14.625rem);
}

.dialog__button {
  position: relative;
  display: flex;
  justify-content: center;
  inline-size: 100%;
}

.dialog__form {
  grid-column-start: 1;
  grid-column-end: 3;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

@media (width<=375px) {

  .bottom-bar__button {
    display: grid;
    grid-template-rows: 28px auto;
    grid-template-columns: auto;
  }

  .dialog {
    padding: 30px 40px;
  }

  .card__image_watermark {
    position: absolute;
    right: 11px;
  }

  .card__image_container {
    block-size: min(371px, 696px);
  }
}
