/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --main-font-family: 'Inter', sans-serif;
    --accent-font-family: 'Press Start 2P', sans-serif;
    --main-font-size: 18px;
    --title-font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
    --subtitle-font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
    --floppy-size: 28px;
}

@media (width <= 375px) {
    .footer_button {
        flex-direction: column;
    }

    .floppy-icon {
        inline-size: 28px;
    }
}